Task01_BrainTumour/
__pycache__
.ipynb_checkpoints
Preprocessed/
Segmentation/src/logs/
Segmentation/src/_*.py
Segmentation/.idea/
logs/
.idea/
nnUNet_trained_models/
eval/
*.dcm
*.nii.gz
user1/
.env
*.rdb
logs/
.idea/
eval/
*.dcm
*.nii.gz
nnUNet_trained_models/
backend/models/nnUnet/
user1/
.env*
*.rdb
db-data/
image-repository/
temp/