Flask==3.1
flask_cors==5.0.1
redis==4.1.1
rq==1.10.1
docker==7.1
pydicom==3.0.1
dcm_classifier==0.9.4
SimpleITK==2.4.1
pymongo==4.11.3
Flask-SQLAlchemy==3.1.1
PyMySQL[rsa]==1.1.1
GPUtil==1.4
setuptools==76.1.0
numpy==2.2.4